// app global css in SCSS form
.q-drawer--left.q-drawer--bordered {
  border-right: none;
}
input{
  caret-color: #3B8FBB;
}
pre{
  background: #0d1117!important;
}
.q-page-container{
  margin-top:0!important;
}
