name: Build APK

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'

    - name: Install Dependencies
      run: npm install

    - name: Install Quasar CLI
      run: npm install -g @quasar/cli @quasar/icongenie

    - name: Build Linux Package
      run: |
        quasar build -m electron
        cd dist/electron
        tar -zcvf Linux-x86_64.tar.gz Packaged
        cd -
        
    - name: Build Windows Package
      run: |
        sed -i "/packager:/a \ \ platform: 'win32'" quasar.config.js
        sudo apt install -y wine64
        quasar build -m electron
        cd dist/electron
        zip -r  Windows-x86_64.zip Packaged
        cd -

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.AAA }}
      with:
        tag_name: ${{ github.run_number }}
        release_name: Release ${{ github.run_number }}
        draft: false
        prerelease: true
      
    - name: Upload Win32
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.AAA }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Windows-x86_64.zip
        asset_name: Windows-x86_64.zip
        asset_content_type: application/application/zip

    - name: Upload Linux
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.AAA }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Linux-x86_64.tar.gz
        asset_name: Linux-x86_64.tar.gz
        asset_content_type: application/gzip
        
    - name: Set up jdk
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-8-jdk openjdk-17-jdk

    - name: Setup Android SDK Tools
      uses: android-actions/setup-android@v2.0.2

    - name: Add Mode
      run:  |
        echo "org.flypen.app" | quasar mode add capacitor
        jq 'del(.server)' ./src-capacitor/capacitor.config.json > ./src-capacitor/edit.json && mv ./src-capacitor/edit.json ./src-capacitor/capacitor.config.json
        
    - name: Build APK
      env: 
        JAVA_HOME: "/usr/lib/jvm/java-17-openjdk-amd64"
      run: quasar build -m capacitor -T android
      
    - name: Add Icon
      run: icongenie generate -m capacitor -i ./icon.png
      
    - name: Build APK with icon
      env: 
        JAVA_HOME: "/usr/lib/jvm/java-17-openjdk-amd64"
      run: quasar build -m capacitor -T android

    - name: Bump version and push tag
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.AAA }}
        release_branches: main

    - name: Sign APK
      env:
        JAVA_HOME: "/usr/lib/jvm/java-8-openjdk-amd64"
      run: |
        wget https://github.com/patrickfav/uber-apk-signer/releases/download/v1.3.0/uber-apk-signer-1.3.0.jar
        java -jar uber-apk-signer-1.3.0.jar -a ./dist/capacitor/android/apk/release/app-release-unsigned.apk --out signed
    
    - name: Upload APK
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.AAA }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./signed/app-release-aligned-debugSigned.apk
        asset_name: app.apk
        asset_content_type: application/vnd.android.package-archive
